* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

/*CSS for Header*/

header {
	height: 110vh;
	background: url(../images/bg.jpeg);
	background-size: cover;
	background-position: center;
}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	margin : 0 20px;
}

/*Styling for all buttons*/
.btn {
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
	/*font-weight: 600;
	font-size: 14px;*/
	/*font-variant: small-caps;*/
}

button.btn-learn {
	padding: 10px 10px;
	border:none;
	border-radius: 15px
}

.btn-product {
	background-color:#3C85FC;
	font-size: 15px;
	font-weight: 500;
}

#skyBtn {
	position: absolute;
	right: 100px;
	top: 30px;
	transition: .6s;
}

#skyBtn:hover {
	top:15px;

}

/*Disappearing Menu CSS*/
.submenu {
	background-color:#3481C2;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: none;
	position: absolute;
	left: 10%;
	top: 50px;

}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	display: flex;
}

.submenu > div {
	width: 25%;
}

div + div {
	border-left: 1px solid whitesmoke;
}

div > h4, div > p {
	margin: 10px 0;
	padding: 0 10px;

}

.submenu > div > h4, .submenu > div > p {
	background-color: darkgray;
	font
}

.header-text {
	height: 90vh;
	width: 50%;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1 {
	font-size: 70px;
}

.header-text > h1, .header-text > p, header-text > div {
	margin-left: 50px;
}

.header-text > div > .btn-learn {
	background-color:blue;
	margin-top: 20px;
	margin-left: 18rem;
	color: white;
}
/*.submenu {
	
}*/

/*End CSS for Header*/

/*Start of Quote CSS*/

.quote {
	height: 60vh;
	border-bottom: 1px solid whitesmoke;
	display:flex;
	justify-content: center;
	align-items: center;
}

q {
    font-style: italic;
    font-size: 17px;
	font-variant: small-caps;
	color:Black ;
	font-family: 'Ubuntu', serif;
	margin: 50px 50px 75px;
	line-height: 2.5;
	font-weight: 800;

}

.quote > div {
	width: 50%;	
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}
/*End of Quote CSS*/

/*Start of Info CSS*/

.info-container {
	height: 80vh;
	display: flex;
	border-bottom: 1px solid lightgrey;
	justify-content: flex-end;
	align-items: center;
}

.info-container > section {
	width: 80%;
}

.info-left {
	text-align: right;
}

.info-container img {
	width: 500px;
	height: 400px;
}

.info-right {
	color: blue;
	align-items: center;
	margin: 0 10px;
	/*Whole Box*/
	/*background-color: green;*/
}

.info-right > div {
	height: 350px;
	/*background-color: blue;*/
	padding-right: 50px;
}

.section info-right {
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.info-right > div {
	height: 400px;
	padding-right: 10px;
	/*background-color: lightgrey;*/
	border:1px solid whitesmoke;
}

.info-right > div > div > p {
	color:blue;
	margin-bottom: 10px;
	margin-left: -8px;
	/*background-color: orange;*/
}

.info-right > div > div > h1 {
	font-size: 20px;
	/*margin : 0 2rem;
	background-color: lightgrey;*/
}

p.rev-info {
	margin-left: -0.5rem;
	/*background-color: yellow;*/
	font-size: 30;
}

.bottom-content {
	display: flex;
}

.bottom-content > div {
	width: 50%;
}

.bottom-content > div > h1 {
	font-size: 60;
}

.bottom-content > div > h1 > span {
	font-size: 20;
	position: relative;
	bottom: 30px;
}

.bottom-content > div > p {
	font-size: 12;
	color: red;
}

/*End of Info CSS*/

/*Intro of Testiomnial CSS*/

.testimonial {
	height: 70vh;
}
.testimonial div {
	text-align: center;
}

.testimonial-container {
	height: 200px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
}

.testimonial-container p  {
	padding: 30 0;

}

.testimonial-content {
	height: 200px;
	/*border: 2px solid red;*/
	display: flex;
}

.testi-content {
	width: 33.33%;
	height: 250px;
	/*background-color: gray;*/
	border: 1px solid lightgrey;
	padding: 30px 0;
 }

.testi-content2 {
	width: 33.33%;
	height: 250px;
	border: 1px solid lightgrey;
	padding: 30px 0;
 }
.testi-content3 {
	width: 33.33%;
	height: 250px;
	border: 1px solid lightgrey;
	padding: 30px 0;
 }

 .testi-content:hover, .testi-content2:hover, .testi-content3 {
 	box-shadow: 0px 16px 10px black;
 	bottom: 10px;
 	transition: 0.5;
 }

.testimonial p {
	margin: 30px;
}


.testimonial img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
	z-index: 2;
	position: relative;
}

.testimonial h4 {
	margin: 10px;
}

.testimonial hr {
	position: relative;
	top:40px;
}

/*End of testimonial CSS*/